body {
  background-color: #eee;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-center {
  text-align: center;
}

form{
  /* background: #fff; */
  padding: 10px 5px;
  width: 370px;
  margin: 5px;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  max-width: 360px;
  
}
form label{
  text-align: left;
  padding: 6px;
}

form input, form select, form textarea{
  margin: 4px 0;
  padding: 6px;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #9f9fad;
}
form select option {
  width:100px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
form textarea {
  height: 70px;
}
.container, .add-speech-btn {
  border: 1px solid teal;
  box-shadow: -3px 1px 3px rgba(0,0,0,0.5);
  margin: 10px 5px ;
  padding: 10px;
}
.container li {
  list-style: disc;
}
.add-speech-btn {
  border-radius: 50%;
  padding: 5px;
  color: teal;
  background-color: #14ebeb;
  width: 40px;
  height: 40px;
  /* font-size: 20px; */
  font-weight: bold;
  font-size: 2em;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

.disable-btn {
  cursor: default;
  background-color: rgb(221, 221, 221);
}

.image-component {
  /* width: 100%;
  min-height: 10px;
  background: url('./components/profilePic.jpg') center center no-repeat fixed blue;
  position: relative; */
}