body {
  background-color: #eee !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* form over-riding css */
.container-fluid {
  width: 98% !important;
  border: 1px solid teal;
  box-shadow: -3px 1px 3px rgba(0,0,0,0.5);
  margin: 10px 5px ;
  /* padding: 10px; */
}
form{
  /* background: #fff; */
  padding: 10px 5px;
  width: 370px;
  margin: 5px;
}
.btn-round.disabled {
  cursor: default !important;
  background-color: rgb(221, 221, 221) !important;
  color: grey !important;
  border-color: grey !important;
}

form .field, .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
form label{
  text-align: left;
  padding: 6px;
}

form input, form select, form textarea, .upload-container input{
  margin: 4px 0;
  padding: 6px;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #9f9fad;
}
form select option {
  width:100px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
form textarea {
  height: 70px;
}
.add-speech-btn {
  border: 1px solid teal;
  box-shadow: -3px 1px 3px rgba(0,0,0,0.5);
  margin: 10px 5px ;
  padding: 10px;
}
.disable-btn {
  cursor: default;
  background-color: rgb(221, 221, 221);
}

.speech-list-container {
  overflow-y: auto;
  height: 200px;
}
.container li {
  list-style: disc;
}
.add-speech-btn {
  border-radius: 50%;
  padding: 5px;
  color: teal;
  background-color: #14ebeb;
  width: 40px;
  height: 40px;
  /* font-size: 20px; */
  font-weight: bold;
  font-size: 2em;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* MemeEditor.css */
.button {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

/* overriding css for ImageEditor of MemeEditor*/
.tui-image-editor-controls-logo,
.tui-image-editor-controls-buttons,
.tui-image-editor-header-buttons,
.tui-image-editor-header-logo {
  display: none !important;
}
.tui-image-editor-header-buttons {
  float: left !important;
}
.tui-image-editor-container .color-picker-control {
  width: 300px !important;
}
.tui-image-editor-container.top .color-picker-control {
  top: 115% !important;
}
.tui-image-editor-container div.tui-colorpicker-clearfix {
  width: 265px !important;
}
.tui-image-editor-container .tui-colorpicker-palette-preview {
  border-radius: 5px !important;
  width: 45px !important;
}
.tui-image-editor-container .tui-colorpicker-palette-hex {
  width: 55px !important;
}
.tui-image-editor-container .color-picker-control .triangle {
  left: 47% !important;
}
.tui-image-editor-container .color-picker-control .tui-colorpicker-palette-button {
  padding: 5px 3px !important;
}
.tui-image-editor-container .tui-image-editor-menu {
  white-space: normal !important;
}
.tui-image-editor-container .tui-image-editor-menu > .tui-image-editor-item {
  margin: 4px !important;
}
.tui-image-editor-container .tui-image-editor-submenu {
  white-space: normal !important;
}
.filter .result-tags {
  margin: 0 25px;
}
.tui-image-editor-container.top {
  margin-top: 60px;
}
.tui-image-editor-container.left,
.tui-image-editor-container.right {
  min-height: calc(100vh - 0px) !important;
}


.editor-title {
  margin-top: 0.5rem;
}
.powered-text {
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.load-download {
  position: relative;
  margin-bottom: -55.5px;
  z-index: 10;
  text-align: center;
}
.load-download.editor-menu-top {
  margin-bottom: 5px;
}
.load-download button{
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px !important;
  margin: 0 18px;
}
.loader-div {
  height: calc(100vh - 160px);
  background-color: black;
  padding: 150px;
}
.md-form .prefix.pos-rel {
  position: relative;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  width: 100%;
}
.flex-container .image-div {
  text-align: center;
  line-height: 10px;
  width: 222px;
  max-height: 180px;
  position: relative;
  cursor: pointer;
}
.flex-container .image-title {
  font-size: 12px;
  white-space: nowrap;
}
.image-div img {
  max-width: 200px;
  max-height: 150px;
  margin: 5px;
}
.no-image-result {
  width: 100%;
  padding: 10px;
}
.image-div>.actions {
  display: none;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: rgba(0,0,0,0.5);
}
.image-div:hover>.actions {
  display: block;
}
.image-div.selected {
  background: rgba(43, 187, 173, 0.2);
}
.actions:active {
  background-color: white;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.actions>.hover-text {
  color: white;
  font-size: 14px;
  text-align: left;
  top: 35%;
  position: relative;
  line-height: 1.5rem;
  padding-left: 10px;
}
.actions:active>.hover-text {
  color: #3f51b5;
}
.hover-text:hover {
  color: #007bff;
  background-color: white;
}



/* self descriptive css */
.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: center;
}
.p-0 {
  padding: 0;
}
.text-color-default {
  color: #4DBCAD;
}
.text-color-cyan {
  color: cyan;
}
.text-color-white {
  color: white;
}
.text-color-red {
  color: red;
}
.text-color-green {
  /* color: green; */
  color: #6af700;
}
.text-color-yellow {
  color: yellow;
}
.text-color-indigo {
  color: #3F54B5;
}
.text-color-secondary {
  color: #9932cc;
}
.bg-none {
  background-color: transparent;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.flip-horizontally {
  transform: scaleX(-1);
}
.pos-rel {
  position: relative;
}
.row {
  display: flex;
}
.block {
  display: block;
}
.cursor-pointer {
  cursor: pointer;
}
.disabled {
  color: #ccc !important;
  cursor: default !important;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-trans-none {
  text-transform: none;
}
.nav-menu {
  position: absolute;
  right: 5px;
  padding: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  box-shadow: none;
  z-index: 11;
}
.nav-menu:hover,
.nav-menu:active {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.nav-menu-hidden {
  display: none;
  position: absolute;
  top: 100%;
  right: -5px;
  background: #fff;
  border: 1px solid teal;
  font-size: 15px;
  box-shadow: -3px 1px 3px rgba(0,0,0,0.5);
}
.nav-menu-hidden.expand {
  display: block;
}
.nav-menu-hidden .popover-header {
  font-size: 14px;
}
.nav-menu-hidden ul{
  text-align: left;
  width: 140px;
  padding: 2px 2px 2px 35px;
  margin-bottom: 0px;
}
.nav-menu-hidden ul>li {
  cursor: pointer;
  color: #007bff;
  padding: 5px 0;
  list-style: none;
}
.nav-menu-hidden ul>li:hover,
.nav-menu-hidden ul>li:active {
  color: #0056b3
}
.nav-menu-icons {
  left: 0;
  padding: 2px 10px;
  position: absolute;
}


/* media queries for small screens */
@media only screen and (max-width: 600px) {
  #searchResults {
    overflow: auto;
    max-height: 420px;
  }
  .flex-container .image-div {
    width: 100% !important;
    margin: 10px 5px;
    padding: 0;
    text-align: left;
  }
  .image-div img {
    max-width: 150px
  }
  .image-div>.actions {
    display: block;
    right: 0;
    top: 0;
    width: calc(100% - 160px);
  }
  .actions>.hover-text {
    line-height: 1.2;
    padding: 10px 5px;
    top: 0;
  }
  .tui-image-editor-container.top .tui-image-editor-submenu {
    top: 25px;
  }
  .tui-image-editor-container.bottom .tui-image-editor-submenu {
    bottom: 25px;
  }
  .tui-image-editor-container.top .color-picker-control,
  .tui-image-editor-container.bottom .color-picker-control {
    left: -200px !important;
  }
  .tui-image-editor-container.top .color-picker-control .triangle,
  .tui-image-editor-container.bottom .color-picker-control .triangle {
    left: 70% !important;
  }
}